<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online-shop</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header>
      <div class="image">
        <img src="./img/4877eec5a536633b1e3f5e3a576146d0.png" alt="" />
      </div>
      <div class="input">
        <img src="./img/search.png" alt="" />
        <input type="text" id="search-input" placeholder="Search" />
      </div>
    </header>

    <div class="home">
      <a href="">Home > products</a>
    </div>

    <div class="product-list">
      <div class="cheirs">
        <a href="">Cheirs</a>
      </div>
      <div class="add">
        <button onclick="nextPage()">
          <img src="./img/plus-svgrepo-com (1).svg" alt="" />
          <p>Добавить продукт</p>
        </button>
      </div>
    </div>

    <div class="obzor">
      
      <!-- <div class="obzor-item">
        <div class="obzor-content" onclick="showModal(this)">
          <div class="skidka">25%</div>
          <div class="heart">
            <img src="./img/heart-svgrepo-com.svg" alt="" />
          </div>
          <div class="center-img">
            <img src="./img/cheir.png" alt="" />
          </div>
          <p>Modern Cheir</p>
          <p>250 $</p>
          <div class="plus"><img src="./img/plus.svg" alt="" /></div>
        </div>

        <div class="more">...</div>

        <div class="more-none">
          <div class="more-top" onclick="EditProd()">Редактировать</div>
          <div class="more-bottom">Удалить</div>
        </div>
      </div> -->

      <div class="obzor-item">
        <div class="obzor-content" onclick="showModal(this)">
          <div class="skidka">25%</div>
          <div class="heart">
            <img src="./img/heart-svgrepo-com.svg" alt="" />
          </div>
          <div class="center-img">
            <img src="./img/cheir.png" alt="" />
          </div>
          <p>Modern Cheir</p>
          <p>250 $</p>
          <div class="plus"><img src="./img/plus.svg" alt="" /></div>
        </div>

        <div class="more">...</div>
        <!-- <img src="./img/more.svg" alt=""> -->

        <div class="more-none">
          <div class="more-top" onclick="EditProd()">Редактировать</div>
          <div class="more-bottom">Удалить</div>
        </div>
        <!-- </div> -->
      </div>

       <div class="obzor-item">
        <div class="obzor-content" onclick="showModal(this)">
          <div class="skidka">25%</div>
          <div class="heart">
            <img src="./img/heart-svgrepo-com.svg" alt="" />
          </div>
          <div class="center-img">
            <img src="./img/cheir.png" alt="" />
          </div>
          <p>Modern Cheir</p>
          <p>250 $</p>
          <div class="plus"><img src="./img/plus.svg" alt="" /></div>
        </div>

        <div class="more">...</div>
        <!-- <img src="./img/more.svg" alt=""> -->

        <div class="more-none">
          <div class="more-top" onclick="EditProd()">Редактировать</div>
          <div class="more-bottom">Удалить</div>
        </div>
        <!-- </div> -->
      </div>


      <%
      data.forEach(item => {
      %>

        <div class="obzor-item">
          <div class="obzor-content" onclick="showModal(this)">
            <div class="skidka"><%=item.sale%></div>
            <div class="heart">
              <img src="./img/heart-svgrepo-com.svg" alt="" />
            </div>
            <div class="center-img"><%=item.image%>
              <img src="./img/cheir.png" alt="" />
            </div>
            <p><%=item.name%></p>
            <p><%=item.price%></p>
            <div class="plus"><img src="./img/plus.svg" alt="" /></div>
          </div>
          
          <div class="more">...</div>
          <!-- <img src="./img/more.svg" alt=""> -->
          
          <div class="more-none">
            <a href="/edit/<%=item._id%>"><button class="more-top" onclick="EditProd()">Редактировать</button></a>
            <button class="more-bottom">Удалить</button>
          </div>
          <!-- </div> -->
        </div>
        <%
      })
        %>

    </div>
<!-- 
    <script>
      function nextPage() {
        window.location.href = "./new";
      }
      function EditProd() {
        window.location.href = "./edit";
      }
    </script> -->

    
    <script src="/js/options.js"></script>

    <script src="/index.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
